black
clearml
# flash-attn use pip install --no-build-isolation flash-attn
flake8
ipython
jupyter
jupyterlab
kaldiio
librosa
lightning
matplotlib
omegaconf
pandas
peft
prettytable
protobuf==3.20.*
pytest
scikit-learn
scipy
sentencepiece
setuptools
simplejson
soundfile
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tqdm
traceback-with-variables
transformers==4.53.2
tox
vllm==0.9.2
webdataset
wheel
